body {
    margin: auto;
    font-family: sans-serif;

}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid black;

}

.content {
    margin: auto;
    text-align: center;

}
